/* ========= RESET ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==== ROOT ==== */

:root {
  --bg-dark: #000000;
  --text-light: #e6e6e6;
  --x-color: rgb(255, 0, 0);
  --o-color: rgb(0, 255, 102);
  --accent: #ffffff;
}

/* ========= BODY ======= */

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: "Indie Flower", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

/* ========= HEADER ======= */

/* header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 15px;
}

header img.logo {
  margin-top: 2rem;
  border-radius: 25px;
  height: 60px;
  width: auto;
  object-fit: contain;
}

header h1 {
  margin-top: 2rem;
  font-size: 2.8;
  font-family: "Indie Flower", cursive;
} */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 15px;
  flex-wrap: wrap;
}

header img.logo {
  margin-top: 2rem;
  border-radius: 30px;
  height: 60px;
  width: auto;
  object-fit: contain;
}

header h1 {
  margin-top: 2rem;
  font-size: 2.8em;
  font-family: "Indie Flower", cursive;
  text-align: center;
}

/* ========= CONTAINER ======= */

.container {
  width: 90%;
  max-width: 500px;
}

/* ========= GAME ======= */

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin: 2rem 0;
}

.cell {
  aspect-ratio: 1 / 1;
  font-size: 3rem;
  font-weight: bold;
  background: transparent;
  border: 3px solid var(--text-light);
  color: var(--text-light);
  cursor: pointer;
  transition: all 0.2s ease;
}

.cell:hover {
  background-color: rgba(255, 255, 255, 0.112);
}

/* ========= BUTÃO DE INICIO  ======= */

.restart-btn {
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  border: 2px solid var(--text-light);
  background: transparent;
  color: var(--text-light);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.restart-btn:hover {
  background-color: var(--text-light);
  color: var(--bg-dark);
}

/* ========= POTUAÇÃO DO JOGO  ======= */

.score-section {
  margin-top: 2rem;
}

.score-board {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.score-board div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* ========= RESPONSIVIDADE PRA DISPOSITIVEIS MOVEL  ======= */

@media (max-width: 768px) {
  header img.logo {
    height: 70px;
  }
  header h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 15px;
  }
  header img.logo {
    height: 60px;
  }
  header h1 {
    font-size: 2em;
  }
}

@media (max-width: 500px) {
  .cell {
    font-size: 2.2rem;
  }

  .score-board {
    flex-direction: column;
    gap: 1rem;
  }
}
